<footer class="footer">
  <div class="link">
    <a target="blank" href="https://www.linkedin.com/in/prajwalsomalkar/">
      <i class="fa-brands fa-linkedin"></i>
    </a>
    <a target="blank" href="https://twitter.com/Prajwal__02">
      <i class="fa-brands fa-x-twitter"></i>
    </a>
    <a target="blank" href="https://github.com/Prajwal0225" target="_blank">
      <i class="fa-brands fa-github"></i>
    </a>
  </div>
  <div>
    <p align="center" class="bookmark">©
      <span id="year"></span>
      Superhero's World By Prajwal Somalkar. All rights reserved.</p>
  </div>
</footer>