<nav class="navigation">
  <div class="brand">
    <a href="https://prajwal0225.github.io/My-Favorite-SuperHero/">
      <i class="fa-solid fa-mask"></i>
    </a>
  </div>
  <div id="menu">
    <button class="hamburger hamburger--elastic" type="button">
      <span class="hamburger-box">
        <span class="hamburger-inner"></span>
      </span>
    </button>
  </div>
  <div class="list">
    <a href="index.html">Home</a>
    <a href="about.html">About</a>
    <a href="contributor.html">Contributors</a>
  </div>
</nav>