@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;400&family=Questrial&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Questrial", sans-serif;
}

body {
  background-image: linear-gradient(0deg, #f86c9b 0%, #3ef1ec 100%);
}


/* NAVBAR */
.navbar {
  background-image: linear-gradient(0deg, #000000 0%, #000000 100%);
  overflow: hidden;
  display: flex;
  font-size: 1.85rem;
  font-weight: 500;
  justify-content: center;
  padding: 10px;
}

.navbar-item {
  display: block;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}

h1 {
  padding: 70px;
  display: flex;
  justify-content: center;
  font-size: 40px;
  color: #100202;
}
.bottom-container {
  margin-top: 1.875rem;
  padding: 1.875rem;
  text-decoration: none;
  text-align: center;
}

.footer-img {
  width: 4%;
  padding: 0.625rem;
}

.footer-link {
  text-decoration: none;
}

@media screen and (max-width: 600px) {
  .navbar-item {
    float: none;
    width: 100%;
    text-align: center;
  }
}
