@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;400&family=Questrial&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Questrial", sans-serif;
}
body {
  margin: 0;
  padding: 0;
}

/* Global styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  text-align: center;
  color: #333;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

/* Header styles */
.header {
  background-color: #35495e;
  color: #fff;
  padding: 20px;
}

.logo {
  width: 100px;
  height: 100px;
}

/* Section styles */
.about,
.features,
.vision,
.community {
  margin: 20px 0;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}



/* NAVBAR */
.navbar {
  background-color: #ffdee9;
  background-image: linear-gradient(0deg, #ffdee9 0%, #b5fffc 100%);
  overflow: hidden;
  display: flex;
  font-size: 1.5rem;
  justify-content: center;
  padding: 10px;
}

.navbar-item {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}

@media screen and (max-width: 600px) {
  .navbar-item {
    float: none;
    width: 100%;
    text-align: center;
  }
}
/* Media queries for responsiveness */
@media (max-width: 768px) {
  .logo {
      width: 80px;
      height: 80px;
  }
}

@media (max-width: 480px) {
  .logo {
      width: 60px;
      height: 60px;
  }

  .header {
      padding: 10px;
  }

  .container {
      padding: 10px;
  }
}