@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;400&family=Questrial&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Questrial", sans-serif;
}
body {
  margin: 0;
}

/* NAVBAR */
/* NAVBAR */
.navbar {
  background-color: #ffdee9;
  background-image: linear-gradient(0deg, #000000 0%, #000000 100%);

  overflow: hidden;
  display: flex;
  font-size: 1.85rem;
  font-weight: 500;
  justify-content: center;
  padding: 10px;
}

.navbar-item {
  display: block;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}
h1 {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 600px) {
  .navbar-item {
    float: none;
    width: 100%;
    text-align: center;
  }
}
