*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 Title
{
    text-decoration: none;
    transition: 0.5s;
}
/*a:hover{
    color: rgb(41, 38, 38);
    background-color: #fff;
}*/



.nav-list li a:hover {
    color: orange;
    transition: 0.2s ease-in;
  } 

nav.stroke ul li a,
nav.fill ul li a {
  position: relative;
}
nav.stroke ul li a:after,
nav.fill ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: ".";
  color: transparent;
  background: white;
  height: 1px;
}
nav.stroke ul li a:hover:after {
  width: 100%;
}


 main
#maintainer-body{
    background-color: rgb(41, 38, 38);
    height: 250vh;
}
.container{
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.contributors{
    padding: 20px;
    width: 900px;
    display: flex;
    color: #fff;
    align-items: center;
    flex-wrap: wrap;
    gap: 25px;

}
.contributor{
    display: flex;
    flex-direction: column;
    color: #fff;
    align-items: flex-start;
    gap: 8px;
}
#container-header{
    display: flex;
    align-items: center;
    color: #fff;
    justify-content: space-between;
    margin: 20px 60px 30px 40px;
}
#container-header h2{
    font-size: 35px;
}
.maintainers{
    width: 350px;
    height: 100%;
    display: flex;
    align-items: flex-start;
    color: #fff;
    gap: 25px;
}
.avatar{
    width: 130px;
    height: 130px;
    border-radius: 50%;
}
.line{
    width: 5px;
    height: 400px;
    color: #fff;
}
.user{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}
 

nav ul li a:hover {
    transition: 0.2s ease-in;
  }
  nav ul li ul li a {
    padding: 15px;
    line-height: 20px;
    
  }
  nav a:hover {
    border-bottom: 3px solid white;
  }
  
  nav a.active {
    border-bottom: 3px solid white;
  }

.footer-containerc{
  width:100%;
  padding: 70px 30px 20px;
}

.social-iconsc{
  display:flex;
  justify-content: center;
}

.social-iconsc a{
  text-decoration: none;
  padding: 10px;
  background-color: white;
  margin:20px;
  border-radius: 50%;
}

.social-iconsc a i{
  font-size: 2em;
  color: black;
  opacity: 0.9;
}
.social-iconsc a:hover{
  background-color: rgb(41, 38, 38);
  transition: 0.5s;
}
.social-iconsc a:hover i{
  color:white;
  transition: 0.5s;
}
.footer-bottomc{
  padding:10px;
  padding-bottom: 100px;
  text-align: center;
}
.footer-bottomc p{
  color:white;
}
 
