*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    transition: 0.5s;
}
a:hover{
    color: rgb(41, 38, 38);
    background-color: #fff;
}
#maintainer-body{
    background-color: rgb(41, 38, 38);
    height: 250vh;
}
.container{
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.contributors{
    padding: 20px;
    width: 900px;
    display: flex;
    color: #fff;
    align-items: center;
    flex-wrap: wrap;
    gap: 25px;

}
.contributor{
    display: flex;
    flex-direction: column;
    color: #fff;
    align-items: flex-start;
    gap: 8px;
}
#container-header{
    display: flex;
    align-items: center;
    color: #fff;
    justify-content: space-between;
    margin: 20px 60px 30px 40px;
}
#container-header h2{
    font-size: 35px;
}
.maintainers{
    width: 350px;
    height: 100%;
    display: flex;
    align-items: flex-start;
    color: #fff;
    gap: 25px;
}
.avatar{
    width: 130px;
    height: 130px;
    border-radius: 50%;
}
.line{
    width: 5px;
    height: 400px;
    color: #fff;
}
.user{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}