@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;400&family=Questrial&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Questrial", sans-serif;
}

body {
  background-color: #ffdee9;
  background-image: linear-gradient(0deg, #ffdee9 0%, #b5fffc 100%);
  background-size: cover;

  height: 1080px;
}

center {
  margin-top: 30px;
}

h1 {
  /* font-family: "Edu VIC WA NT Beginner", cursive; */
  font-size: 100px;
  font-weight: 900;
  text-transform: uppercase;
  background-image: url('/images/download.jpg');
  background-size:500px;
  background-position:center;
  background-clip: text;
  -webkit-text-stroke-color: white;
  -webkit-text-stroke-width: 0.05px;
  -webkit-background-clip: text;
  color: transparent;
}

.mainpic {
  width: 21.75rem;
  height: 24.75rem;
}

.searchActions {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: unset;
}

.inputtext {
  width: 20%;
  height: 30px;
  color: #1d1b1b;
  padding: 3px 3px 3px 10px;
  border-radius: 10px;
  outline: none;
  border: 1px solid #000;
  box-shadow: 0px 5px 15px rgba(77, 77, 77, 0.5);
}
.error {
  font-size: 35px;
  font-weight: 600;
  margin-top: 160px;
}
.error p {
  margin-top: -30px;
}
.btnSearch {
  height: 40px;
  padding: 10px;
  border-radius: 50%;
  /* background-color: #007bff; */
  margin-left: 10px;
  color: #fff;
  border: none;
  outline: none;
  font-size: 15px;
  cursor: pointer;
  box-shadow: 0px 5px 15px rgba(77, 77, 77, 0.5);
}

.btnRandomhero {
  --bg: #365c33;
  --hover-bg: hsl(129, 29%, 57%);
  --hover-text: #365c33;
  color: #d8ffd5;
  border: 1px solid var(--bg);
  border-radius: 6px;
  padding: 0.8em 2em;
  background: var(--bg);
  transition: 0.2s;
  margin-right: 0.6rem;
  font-size: 16px;
}

.btnRandomhero:hover{
  color: var(--hover-text);
  transform: translate(-0.25rem,-0.25rem);
  background: var(--hover-bg);
  box-shadow: 0.25rem 0.25rem var(--bg);
  margin-right: 0.6rem;
  font-size: 16px;
  letter-spacing: 2px;
  font-weight: bold;
}

.btnRandomhero:active{
  transform: translate(0);
  box-shadow: none;
}

#downloadImg {
  --bg: #ba4394;
  --hover-bg: #ff90e8;
  --hover-text: #ba4394;
  color: #ffe4f9;
  border: 1px solid var(--bg);
  border-radius: 6px;
  padding: 0.8em 2em;
  background: var(--bg);
  transition: 0.2s;
  margin-right: 0.6rem;
  font-size: 16px;
}

#downloadImg:hover{
  color: var(--hover-text);
  transform: translate(-0.25rem,-0.25rem);
  background: var(--hover-bg);
  box-shadow: 0.25rem 0.25rem var(--bg);
  margin-left: 0.6rem;
  font-size: 16px;
  letter-spacing: 2px;
  font-weight: bold;
}

#downloadImg:active{
  transform: translate(0);
  box-shadow: none;
}

.bottom-container {
  margin-top: 1.875rem;
  padding: 1.875rem;
  text-decoration: none;
}

.footer-img {
  width: 2%;
  padding: 10px;
}

.footer-link {
  text-decoration: none;
}

.tilt {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.tilt:hover {
  -webkit-transform: rotate(-10deg);
  -moz-transform: rotate(-10deg);
  -o-transform: rotate(-10deg);
  -ms-transform: rotate(-10deg);
  transform: rotate(-10deg);
}

/* scrollbar styles */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: lightskyblue;
  border-radius: 6px;
}
::-webkit-scrollbar-track {
  /* background-color: #FFDEE9; */
  background-image: linear-gradient(0deg, #ffdee9 0%, #b5fffc 100%);
  border-radius: 6px;
}

body {
  /* background-color: #ffdee9;
  background-image: linear-gradient(0deg, #ffdee9 0%, #b5fffc 100%); */
  background: #000000;
  margin: 0;
}

/* NAVBAR */

/* .navbar {
  background-color: #130f40;
  background-image: linear-gradient(315deg, #130f40 0%, #000000 74%);

  overflow: hidden;
  display: flex;
  font-size: 1.85rem;
  font-weight: 500;
  justify-content: center;
  padding: 10px;
  align-items: center;
} */

/* .navbar-item {
  display: block;
  color: rgb(255, 255, 255);
  text-align: center;
  align-items: center;
  padding: 14px 20px;
  text-decoration: none;

  background-image: linear-gradient(45deg, #ff7200, #5c00ff);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  position: relative;
}

.navbar-item:hover {
  background-image: linear-gradient(45deg, #5c00ff, #ff7200);
} */

nav {
  float: right;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
nav ul li {
  float: left;
  position: relative;
}
nav ul li a {
  display: block;
  padding: 0 20px;
  line-height: 70px;
  background: transparent;
  color: #463f3f;
  text-decoration: none;
  font-size: 25px;
  /*
  The full path of this code is nav ul li a:not(:only-child):after. This means that the code will apply to any a tag in our nav list that is NOT an only child, aka any dropdown. The :after means it comes after the output of the tag. I’ve decided that to specify any nav item as a dropdown, it will be followed by a unicode arrow – ▾ (#9662).
  */
}
nav ul li a:hover {
  background: #f2f2f2;
  color: #fb5958;
}
nav ul li a:not(:only-child):after {
  padding-left: 4px;
  content: " ▾";
}
nav ul li ul li {
  min-width: 190px;
}
nav ul li ul li a {
  padding: 15px;
  line-height: 20px;
}

.nav-dropdown {
  position: absolute;
  z-index: 1;
  /* Guarantees that the dropdown will display on top of any content. */
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
  display: none;
}

.nav-mobile {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  background: transparent;
  height: 70px;
  width: 70px;
}

@media only screen and (max-width: 800px) {
  .nav-mobile {
    display: block;
  }

  nav {
    width: 100%;
    padding: 70px 0 15px;
    background: #dd5e89; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to right,
      #f7bb97,
      #dd5e89
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to right,
      #f7bb97,
      #dd5e89
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
  nav ul {
    display: none;
  }
  nav ul li {
    float: none;
  }
  nav ul li a {
    padding: 15px;
    line-height: 20px;
  }
  nav ul li ul li a {
    padding-left: 30px;
  }
}
#nav-toggle {
  position: absolute;
  left: 18px;
  top: 22px;
  cursor: pointer;
  padding: 10px 35px 16px 0px;
}
#nav-toggle span,
#nav-toggle span:before,
#nav-toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 5px;
  width: 35px;
  background: #463f3f;
  position: absolute;
  display: block;
  content: "";
  transition: all 300ms ease-in-out;
}
#nav-toggle span:before {
  top: -10px;
}
#nav-toggle span:after {
  bottom: -10px;
}
#nav-toggle.active span {
  background-color: transparent;
}
#nav-toggle.active span:before,
#nav-toggle.active span:after {
  top: 0;
}
#nav-toggle.active span:before {
  transform: rotate(45deg);
}
#nav-toggle.active span:after {
  transform: rotate(-45deg);
}

@media screen and (min-width: 800px) {
  .nav-list {
    display: block !important;
  }
}
/* 
.navigation – the outer wrapper for the navbar. Specifies the height and color, and will stretch the full width of the viewport.
*/
.navigation {
  height: 70px;
  background: #dd5e89; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #f7bb97,
    #dd5e89
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #f7bb97,
    #dd5e89
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/*
.nav-container – the inner wrapper for the navbar. Defines how far the actual content should stretch.
*/
.nav-container {
  max-width: 1000px;
  margin: 0 auto;
}

.brand {
  position: absolute;
  padding-left: 20px;
  float: left;
  line-height: 70px;
  text-transform: uppercase;
  font-size: 1.4em;
}
.brand a,
.brand a:visited {
  color: #463f3f;
  text-decoration: none;
  font-size: 25px;
}

/* @media screen and (max-width: 600px) {
  .navbar-item {
    float: none;
    width: 100%;
    text-align: center;
  }
} */


.btnSearch {
  border-radius: 10px;
  height: 30px;
  width: 60px;
}

center {
  margin-top: 50px;
}

#heroImage > h2 {
  font-size: 3rem;
}

#heroImage > img {
  border-radius: 10%;
}

h1 {
  font-family: "Edu VIC WA NT Beginner", sans-serif;
  font-size: 70px;
}

.mainpic {
  width: 300px;
  height: 300px;
}

.inputtext {
  width: 20%;
  height: 30px;
  border-radius: 10px;
  margin-top: 30px;
  margin-bottom: 25px;
  box-shadow: 0px 5px 15px rgba(77, 77, 77, 0.5);
}
/* #SearchInput {
  width:fit-content;
} */

/* social media */

.bottom-container {
  margin-top: 30px;

  padding: 30px;
  text-decoration: none;
}

.footer-img {
  width: 2%;
  padding: 10px;
}

.footer-link {
  text-decoration: none;
}

.tilt {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.tilt:hover {
  -webkit-transform: rotate(-10deg);
  -moz-transform: rotate(-10deg);
  -o-transform: rotate(-10deg);
  -ms-transform: rotate(-10deg);
  transform: rotate(-10deg);
}

body {
  /* background-color: #ffdee9;
  background-image: linear-gradient(0deg, #f86c9b 0%, #3ef1ec 100%); */
  background: black;
}


.btnSearch {
  border-color: #07cfc9;
  border-radius: 0.625rem;
  height: 2.875rem;
  width: 5.5rem;
  font-family: "Lilita One", sans-serif;

}

.btnRandomhero:hover {
  cursor: pointer;
  color: aliceblue;
  background-color: rgb(134, 144, 146);


}

.btnSearch:hover {
  cursor: pointer;
  color: aliceblue;
  background-color: rgb(134, 144, 146);
}

center {
  margin-top: 3.125rem;
}

#heroImage > h2 {
  font-size: 3rem;
}

h1 {
  font-family: "Lilita One", sans-serif;
  font-size: 4.375rem;
}

.mainpic {
  width: 18.75rem;
  height: 18.75rem;
}

.inputtext {
  width: 30%;
  height: 2.875rem;
  font-size: xx-large;
  border-radius: 0.625rem;
  border-color: #07cfc9;
  margin-top: 1.875rem;
  margin-bottom: 1.5625rem;
  text-align: center;
  font-family: "Lilita One", cursive;
}

#SearchInput {
  width: fit-content;
}

.bottom-container {
  margin-top: 1.875rem;
  padding: 1.875rem;
  text-decoration: none;
}

.footer-img {
  width: 3%;
  padding: 0.625rem;
}

.footer-link {
  text-decoration: none;
}

.tilt {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.tilt:hover {
  -webkit-transform: rotate(-10deg);
  -moz-transform: rotate(-10deg);
  -o-transform: rotate(-10deg);
  -ms-transform: rotate(-10deg);
  transform: rotate(-10deg);
}

::-webkit-scrollbar {
  width: 0.5rem;
}
::-webkit-scrollbar-track {
  background: rgb(211, 211, 228);
}
::-webkit-scrollbar-thumb {
  background: rgb(106, 216, 219);
  border-radius: 0.3rem;
}
::-webkit-scrollbar-thumb:hover {
  background: rgb(90, 117, 168);
}

/* Add this CSS in your <style> tag or external stylesheet */
.zoom-effect {
  transition: transform 0.3s ease;
}

.zoom-effect:hover {
  transform: scale(
    1.1
  ); /* Adjust the scale factor as needed for the desired zoom effect */
}

/* Define the flip-left animation */
@keyframes flip-left {
  0% {
    transform: perspective(400px) rotateY(90deg);
    opacity: 0;
  }
  100% {
    transform: perspective(400px) rotateY(0deg);
    opacity: 1;
  }
}

/* Apply the flip-left animation to elements with data-aos="flip-left" */
[data-aos="flip-left"] {
  animation: flip-left 0.5s ease;
}


/* hero image container  */

.img_container{
  height: 400px;
  width: 300px;
  border-radius: 10%;
  overflow: hidden;
  cursor: pointer;
}

.img_container img{
  object-fit: cover;
  width: 100%;
  transition: .3s ease-in;
}

.img_container img:hover{
  transform: scale(1.1);
}