body{
  background-color: #FFDEE9;
  background-image: linear-gradient(0deg, #FFDEE9 0%, #B5FFFC 100%);


}
.btnRandomhero{
border-radius: 10px;
margin-left: 50px;
height: 30px;
}
.btnRandomhero:hover{
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}


.btnSearch{
border-radius: 10px;
height: 30px;
width: 60px;
}

.btnSearch:hover{
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

center{
  margin-top:50px;

}


h1{
  font-family: 'Edu VIC WA NT Beginner', cursive;
  font-size: 70px;
}

.mainpic{
  width: 300px;
  height: 300px;
}



.inputtext{
  width:20%;
  height: 30px;
  border-radius: 10px;
  margin-top: 30px;
  margin-bottom: 25px;

}



/* social media */

.bottom-container{
  margin-top: 30px;

  padding: 30px;
  text-decoration: none;
}
.footer-img{
  width:2%;
  padding: 10px;

}

.footer-link{
  text-decoration: none;
}


.tilt {
  -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
          transition: all 0.5s ease;
}

.tilt:hover {
  -webkit-transform: rotate(-10deg);
     -moz-transform: rotate(-10deg);
       -o-transform: rotate(-10deg);
      -ms-transform: rotate(-10deg);
          transform: rotate(-10deg);
}
