/* *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */
html {
  font-size: 16px;
}

body {
  background-color: #FFDEE9;
  background-image: linear-gradient(0deg, #FFDEE9 0%, #B5FFFC 100%);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inputtext {
  width: 100%;
  padding: 10px;
  border-radius: 0.625rem;
  border-color: #07cfc9;
  margin-top: 1.875rem;
  margin-bottom: 1.5625rem;
  text-align: center;
  font-family: 'Lilita One', cursive;
}

#heroImage{
  display: flex;
  flex-direction: column;
  align-items: center;
}
                /* BUTTONS */
.buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btnRandomhero {
  border-color: #07cfc9;
  border-radius: 0.625rem;
  padding: 10px;
  font-family: 'Lilita One', cursive;
}

.btnSearch {
  border-color: #07cfc9;
  border-radius: 0.625rem;
  display: flex;
  padding: 10px;
  font-family: 'Lilita One', cursive;
}

.btnRandomhero:hover {
  cursor: pointer;
  color: aliceblue;
  background-color: rgb(134, 144, 146);
}

.btnSearch:hover {
  cursor: pointer;
  color: aliceblue;
  background-color: rgb(134, 144, 146);
}

#heroImage>h2 {
  font-size: 3rem;
}

#heroImage>img {
  border-radius: 10%;
}


.header-text{
  font-family: 'Lilita One', cursive;
  font-size: 4.375rem;
}

.mainpic {
  width: 18.75rem;
  height: 18.75rem;
}

footer {
  margin-top: 10rem;
  /* padding: 1.875rem; */
  display: flex;
  flex-direction: column;
  align-items: center;

}
.footer-content{
  display: flex;
  gap: 20px;
}

.footer-img {
  width: 30px;
  height: 30px;
}

.footer-link {
  text-decoration: none;
}

.tilt {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.tilt:hover {
  -webkit-transform: rotate(-10deg);
  -moz-transform: rotate(-10deg);
  -o-transform: rotate(-10deg);
  -ms-transform: rotate(-10deg);
  transform: rotate(-10deg);
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* Apply the animation to the image */
img {
  animation: fadeIn 1s ease-in-out;
}
.animate-fade-in {
  animation: fadeIn 4s ease-in-out;
}

        /* Media queries */
    
@media ( max-width: 540px) {
  .header-text{
    font-size: 3rem;
    text-align: center;
  }
}
@media (max-width: 280px){
  .main{
    width: 250px;
  }
  #heroImage{
    width: 100px;
    padding: 10px;
    margin-left: 70px;
  }

}