@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;400&family=Questrial&display=swap");

/*
Responsive Breakpoints
sm: 640px;
md: 768px;
lg: 1024px;
xl: 1280px;
*/

:root {
  --color-primary: #d895c3;
  --color-secondary: #680fbb;
  --color-orange: #f6aa1c;
  --color-gray: rgb(212 212 216);
  --md: 768px;
}

/*preset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Questrial", sans-serif;
}

html {
  color-scheme: dark;
}
body {
  background-color: #000000;
}
img {
  max-width: 100%;
  max-height: 100%;
}
h1,
h2,
h3,
h4,
h5,
p {
  color: white;
}
a {
  text-decoration: none;
}

/*navigation*/
.navigation {
  --pad-link: 0.8rem;
  background: rgb(24 24 27 / 41%);
  border-bottom: 1px solid rgb(48 48 48);
  display: flex;
  flex-wrap: wrap;
  padding: 0px 0rem;
  position: sticky;
  top: 0px;
  z-index: 10;
  backdrop-filter: blur(16px) saturate(160%);
}
.navigation .brand {
  flex: 1 0%;
  display: flex;
  align-items: center;
  margin-left: 1rem;
}
.navigation .brand a {
  color: white;
  padding: var(--pad-link);
  font-size: 20px;
}
.navigation .list {
  display: none;
  flex-direction: column;
  gap: 8px;
  flex-basis: 100%;
  position: absolute;
  transition: 0.5s all;
  transform: rotateZ(140deg);
  margin-left: 1rem;
}
.navigation .list a {
  color: rgb(161 161 170);
  padding: 1rem var(--pad-link);
  font-size: 20px;
}
.navigation .list a:hover,
.navigation .list a.active {
  color: white;
}
.navigation .hamburger {
  width: 50px;
  margin-right: 1rem;
}
.navigation .hamburger:hover {
  opacity: 1 !important;
}
.navigation .hamburger.is-active ~ .list {
  visibility: visible;
  flex-direction: column;
}
.navigation .hamburger.is-active ~ .list a {
  padding: 1rem var(--pad-link);
}
.navigation .hamburger-inner,
.navigation .hamburger-inner::before,
.navigation .hamburger-inner::after {
  background-color: white !important;
}
#menu {
  display: flex;
  justify-content: end;
  align-items: center;
  flex: 1;
}

/*container*/
.container {
  padding: 1rem 1rem;
}

@media (min-width: 768px) {
  .navigation {
    padding: 0px 4rem;
  }
  .navigation .list {
    position: unset !important;
    display: flex !important;
    flex-basis: 0 !important;
    flex-direction: row !important;
    justify-content: end !important;
    transform: rotateZ(0deg) !important;
    margin-left: 0rem !important;
  }
  .navigation .list a {
    padding: 2rem var(--pad-link);
  }
  .navigation .hamburger {
    display: none;
  }
  .container {
    padding: 1rem 4rem;
  }
}

/*footer*/
.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5rem 0px;
  background: #1c1c1c;
  margin-top: 2rem;
}
.footer a {
  color: white;
  background: #303030;
  padding: 0.7rem;
  border-radius: 50%;
  font-size: 20px;
  display: flex;
  align-items: center;
  transition: 0.3s all;
}
.footer a:hover {
  transform: translateY(-5px);
  box-shadow: 0px 0px 7px 2px #4e4e4e;
}
.footer p {
  color: rgb(212 212 216);
}
.footer .link {
  display: flex;
  gap: 25px;
  margin-bottom: 1rem;
}

/*errors*/
.errors {
  padding: 1rem;
  background-color: #992727;
  border: 1px solid #ff3636;
  visibility: hidden;
  transition: 0.3s all;
  transform: translateY(-10px);
  position: absolute;
}
.errors.open {
  visibility: visible;
  transform: translateY(0px);
  position: unset;
}

/*class utilites*/
.color-orange {
  color: var(--color-orange);
}
.color-gray {
  color: var(--color-gray);
}

/*loading.io*/
.loading {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #fff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
